// The following two lines import the default Sencha Touch theme. If you are building
// a new theme, remove them and the add your own CSS on top of the base CSS (which
// is already included in your app.json file).
// @import 'sencha-touch/default';
// @import 'sencha-touch/default/all';

// Custom code goes here..

// Examples of using the icon mixin:
// @include icon('user');

.fp-list-record {
  min-height: 4em;
  .fp-list-record-type {
    font-size: 0.8em;
    font-weight: bold;
  }
  .fp-list-record-title {
    float: left;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .fp-list-record-date {
    font-size: 0.8em;
    color: gray;
    float: right;
  }
  .fp-list-record-caption {
    font-size: 0.8em;
    float: left;
  }
  .fp-list-record-subcaption {
    font-size: 0.8em;
    float: right;
    text-align: right;
    width: 50%;
  }
  &:after {
    content: " ";
    display: block;
    clear: both;
  }
}